The following rules are to be followed at all times during your time within our server. Breaking any of the rules may result in a warning, followed by a kick or ban depending on the serverity of the issue.
1. Content that is Not Safe For Work is completely forbidden.
If you have to question your content, do not post it.
2. Be respectful to each member of the server.
Lets be nice to eachother.
3. Spamming of any kind is not acceptable in any channel.
Whether that channel is a Text or Voice channel.
4. No excessive amounts of swearing.
Swearing is allowed, but it must be within suitable moderation.
5. Derogatory terms are not allowed here.
Leave them out of our server and the game.
6. No offensive Discord avatars or usernames.
These should follow the same rules for any content on the server.
7. No invites to other unrelated Discord servers.
Only official State of Mayflower Discord servers are to be linked.
8. No doxing of any kind.
You should be in control of your own personal information.
