To gain full access to the Discord server, visit the RoVer website and follow the instructions to verify your Roblox account with Discord.
 
Following this, you should have automatically been given full access to the Discord server.
To refresh your roles following change of position with the State of Mayflower:
Use the !verify command in any channel.
